{
  "CSharp": {
    "current": [
      {
        "Name": "CoCo enum field name",
        "Foreground": "#FFB68E54",
        "IsBold": false
      },
      {
        "Name": "CoCo field name",
        "Foreground": "#FFF177FF",
        "IsBold": false
      },
      {
        "Name": "CoCo property name",
        "Foreground": "#FFFF8040",
        "IsBold": false
      },
      {
        "Name": "CoCo extension method name",
        "Foreground": "#FFD7D700",
        "IsBold": false
      },
      {
        "Name": "CoCo namespace name",
        "Foreground": "#FF00D500",
        "IsBold": false
      },
      {
        "Name": "CoCo parameter name",
        "Foreground": "#FF969696",
        "IsBold": false
      },
      {
        "Name": "CoCo local variable name",
        "Foreground": "#FF5EDBFF",
        "IsBold": false
      },
      {
        "Name": "CoCo local method name",
        "Foreground": "#FFFF8040",
        "IsBold": false
      }
    ]
  }
}